[Desktop Entry]
Name=QQ(direct)
Exec=env no_proxy=1 linuxqq %U
Terminal=false
Type=Application
Icon=qq
StartupWMClass=QQ
Categories=Network;
Comment=QQ
